@import url("./Logo.css");
@import url(./Navigation.css);
@import url(./ProfileLinks.css);
@import url(./NavBarMenu.css);

#NavBar {
  background-color: var(--bluScuro);
  block-size: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: sticky;
  top: 0;
  padding-inline: 10%;
  padding-block: .5%;
  transition: all .5s;
}

